@import 'utils';
@import 'mixins';

.nav-link {
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 13px;

  cursor: pointer;
  &:hover {
    background-color: #313239;
  }
}

.side-nav {
  width: 190px;
  height: 100vh;
  border-right: 1px solid black;
  background-color: var(--clr-side-nav);
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 10px;
  padding-top: 40px;
  padding-right: 10px;
  z-index: 6;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
  span {
    color: var(--clr-side-nav-link);
    font-size: 15px;
  }

  &__btm-links {
    color: white;
  }

  h1 {
    color: white !important;
  }

  &__close-div {
    height: 50px;
    width: 100%;
    position: absolute;
    background-color: #343638;
    left: 0;
    bottom: 0;
  }
}

.side-nav-close {
  @include lg-icon-button($clr-primary3);
}

.lg-icon-button {
  @include lg-icon-button($clr-primary);
}

.small-icon-button {
  @include small-icon-button($clr-primary3);
}

.left-corner {
  position: fixed;
  left: 10px;
  top: 10px;
}

.layout {
  margin-left: 190px;

  padding: 20px;
  padding-top: 70px;
  padding-bottom: 100px;

  h1 {
    color: var(--clr-cta);
    font-size: 42px;
  }

  h2 {
    color: var(--clr-cta);
  }

  &__content {
    padding: 20px;

    background-color: var(--clr-content);
    border: 1px solid var(--clr-content-border);
    border-radius: 7px;
    padding-bottom: 50px;
  }
}

.chevron-left {
  transition: 0.5s;
}

.home {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  .skill {
    margin-bottom: 3px;
    &:hover {
      background-color: var(--clr-content-border);
    }
  }

  hr {
    background-color: var(--clr-hr);
    height: 1px;
    border: none;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  &__box {
    flex-basis: 49%;
  }

  h2 {
    font-size: 30px;
  }

  &__profile {
    text-align: center;

    h3 {
      font-size: 22px;
      font-weight: 100;
    }
  }

  &__abilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    @media only screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
}

.profile {
  @media only screen and (max-width: 700px) {
    flex-wrap: wrap-reverse;
  }
}

.footer {
  text-align: center;
  position: relative;
  h3 {
    font-size: 24px;
  }

  span {
    font-size: 17px;
    &:hover {
      color: darken($clr-primary, 15%);
    }
  }

  hr {
    background-color: var(--clr-hr);
    height: 1px;
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.contact-form {
  position: relative;
  padding-bottom: 30px;
  p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 3px;
  }
  input {
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    border: 2px solid var(--clr-cta);
    padding-left: 10px;
    background-color: var(--clr-content);
    color: var(--clr-primary);
  }

  input:focus {
    outline: none;
    box-shadow: 0px 0px 10px -2px var(--clr-cta);
  }

  &__message {
    border: 2px solid var(--clr-cta);
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 5px;
    height: 300px !important;
    padding: 10px;
    background-color: var(--clr-content);
    color: var(--clr-primary);
    &:focus {
      outline: none;
    }
  }

  button {
    margin-top: 10px;
    right: 0;
    position: absolute;
    @include large-cta-button(#d6154c, white);
  }

  button:disabled,
  button[disabled] {
    filter: opacity(0.3);
    cursor: not-allowed;
  }
}

.info-message {
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  height: max-content;
  border: 2px solid var(--clr-green);
  position: fixed;
  background-color: var(--clr-green-2);
  color: black;
  z-index: 300;
  right: -300px;
  top: 40px;
  font-weight: 700;
  transition: right 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &__message-cancel {
    @include top-right-corner(3px);
  }

  p {
    font-size: 15px;
  }
}

.project-card {
  background-color: var(--clr-content-2) !important;
  border-radius: 10px;
  position: relative;
  padding: 15px;
  padding-bottom: 70px;
  font-size: 15px;
  min-height: 100%;

  &__demo {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 1px;
    border-top-right-radius: 10px;
    padding: 7px;
  }

  &__name {
    background-color: var(--clr-hr);
    height: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    h3 {
      font-size: 23px;
      color: var(--clr-primary);
      margin-bottom: 5px;
    }

    a {
      margin-top: 9px;
    }
  }
}

.projects {
  height: 100%;
  &__grid {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
}

.resume {
  max-width: 600px;
  margin: 0 auto;

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  &__paragraph {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 18px;
  }
}

.subscribe {
  h1 {
    text-align: center;
  }
}

.blogs {
  max-width: 800px;
  margin: 0 auto;
}

.blog-card {
  cursor: pointer;

  margin: 0 auto;
  padding: 40px;
  border-radius: 5px;

  &:hover {
    box-shadow: 0px 0px 10px -2px var(--clr-cta);
  }
}
