@mixin lg-icon-button($clr) {
  padding: 8px;
  background-color: $clr;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    background-color: darken($clr, 5%);
  }
}

@mixin small-icon-button($clr) {
  padding: 2px;
  background-color: $clr;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  &:hover {
    background-color: darken($clr, 5%);
  }
}

@mixin large-cta-button($clr, $clr-text) {
  padding: 10px;
  background-color: $clr;
  color: $clr-text;
  border: none;
  border-radius: 7px;
  font-size: 24px;
  width: 140px;
  cursor: pointer;

  &:hover {
    background-color: darken($clr, 5%);
  }
}

@mixin top-right-corner($px) {
  position: absolute;
  top: $px;
  right: $px;
}

@mixin hover-darken($clr, $perc) {
  &:hover {
    background-color: darken($clr, $perc);
  }
}
